$title-text: #111;
$body-text: #737373;
$black: #000;
$mine-shaft: #111;
$tundora: #444;
$emperor: #555;
$boulder: #777;
$gallery: #eee;
$shark: #303133;
$seashell: #f1f1f1;
$wild-sand: #f5f5f5;
$alabaster: #f8f8f8;
$white: #fff;
$jelly-bean: #21759b;